USE [SMSDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Current_Student_List]    Script Date: 04/23/2026 6:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_Get_Current_Student_List] 
	@academicClassId int,
	@academicSectionId int
AS
BEGIN
	select s.Id,
	s.ClassRoll,
	s.Photo,
	s.Name[StudentName],
	s.NameBangla,
	c.Name[ClassName],
	sec.Name[SectionName],
	s.PhoneNo,
	s.AcademicSessionId,
	ses.Name[SessionName], 
	g.Name[Gender],
	s.Status,
	c.ClassSerial,
	s.IsResidential,
	s.UniqueId,
	s.GuardianPhone
	from student s
	inner join AcademicClass c on s.AcademicClassId= c.Id
	left join AcademicSection sec on s.AcademicSectionId = sec.Id
	inner join AcademicSession ses on s.AcademicSessionId = ses.Id
	inner join Gender g on s.GenderId= g.Id
	where (@academicClassId is null or s.AcademicClassId = @academicClassId) and
	(@academicSectionId is null or s.AcademicSectionId = @academicSectionId)
	order by s.ClassRoll
END
