USE [SMSDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_scheduled_paid_by_id]    Script Date: 06-Aug-24 1:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Golam Habib Palash
-- Create date: 30 Jun 2023
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_get_scheduled_paid_by_id] 
	@studId int
AS
BEGIN
	SELECT v.PaymentType, COUNT(*) AS PaymentCount, SUM(v.PaidAmount) AS PaidAmount, v.FeeHeadSL
	FROM vw_schedule_wise_stu_paid v
	WHERE v.StudentId = @studId
	GROUP BY v.PaymentType,v.FeeHeadSL;
END
