USE [SMSDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_attendance_by_date]    Script Date: 04/23/2026 7:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_get_attendance_by_date]
    @attendanceFor VARCHAR(10), -- Employee / Student
    @date DATETIME,
    @attendanceType VARCHAR(10), -- attended / absent / all
    @aSessionId INT = NULL,
    @aClassId INT = NULL
AS
BEGIN
    DECLARE @startDate DATE = CAST(@date AS DATE);
    DECLARE @endDate DATE = DATEADD(DAY, 1, @startDate);

    IF @attendanceFor = 'employees'
    BEGIN
        ;WITH FirstPunch AS (
            SELECT
                t1.CardNo,
                MIN(t1.Tran_MachineRawPunchId) AS Tran_MachineRawPunchId
            FROM vw_rpt_Employee_Attendance t1
            WHERE t1.PunchTime >= @startDate AND t1.PunchTime < @endDate
            GROUP BY t1.CardNo
        ),
        Attendance AS (
            SELECT v.*
            FROM vw_rpt_Employee_Attendance v
            INNER JOIN FirstPunch f ON v.Tran_MachineRawPunchId = f.Tran_MachineRawPunchId
        )
        SELECT
            CONVERT(VARCHAR, e.Id) AS CardNo,
            CONVERT(VARCHAR, e.Id) AS ClassRoll,
            e.EmployeeName AS [Name],
            d.DesignationName AS Class_Designation,
            e.Phone,
            e.EmpTypeId AS SectionId,
            ISNULL(RIGHT(CONVERT(VARCHAR, a.PunchTime, 108), 8), 'absent') AS PunchTime,
            CONVERT(VARCHAR, e.NomineePhone) AS GuardianPhone,
            CONVERT(VARCHAR, d.SortingOrder) AS SortingOrder,
            ISNULL(FORMAT(p.CreatedAt, 'hh:mm tt'), 'Not Sent') AS SMSSent,
            null as ClassSL
        FROM Employee e
        LEFT JOIN Attendance a ON e.Id = a.CardNo
        INNER JOIN Designation d ON e.DesignationId = d.Id      
        left join (
            SELECT *
            FROM PhoneSMS
            WHERE SMSType = 'CheckIn'
                AND cast(CreatedAt as date) = @date
        ) as p on e.Phone = p.MobileNumber
        WHERE e.Status = 1
            AND (
                @attendanceType = 'all'
                OR (@attendanceType = 'attended' AND a.PunchTime IS NOT NULL)
                OR (@attendanceType = 'absent' AND a.PunchTime IS NULL)
            )
        ORDER BY d.SortingOrder, a.PunchTime;
    END
    ELSE
    BEGIN
        IF @attendanceType = 'attended'
        BEGIN
            ;WITH FirstStudentPunch AS (
                SELECT
                    t.CardNo,
                    MIN(t.PunchTime) AS PunchTime,
                    MIN(t.Tran_MachineRawPunchId) AS Tran_MachineRawPunchId
                FROM vw_rpt_student_attendance t
                WHERE t.PunchTime >= @startDate AND t.PunchTime < @endDate
                GROUP BY t.CardNo
            )
            SELECT
                CAST(s.ClassRoll AS VARCHAR) AS ClassRoll,
                CAST(s.UniqueId AS VARCHAR) AS CardNo,
                v.Name,
                v.Class_Designation,
                v.Phone,
                s.AcademicSectionId as SectionId,
                ISNULL(FORMAT(v.PunchTime, 'hh:mm tt'), 'absent') AS PunchTime,
                v.GuardianPhone,
                cast(s.ClassRoll as nvarchar) AS SortingOrder,
                ISNULL(FORMAT(p.CreatedAt, 'hh:mm tt'), 'Not Sent') AS SMSSent,
                CAST(aClass.ClassSerial AS varchar) AS ClassSL
            FROM Student s
            INNER JOIN vw_rpt_student_attendance v ON CAST(s.UniqueId AS INT) = CAST(v.CardNo AS INT)
            left join AcademicClass aClass on s.AcademicClassId = aClass.Id
            INNER JOIN FirstStudentPunch g ON 
                CAST(v.CardNo AS INT) = CAST(g.CardNo AS INT)
                AND v.PunchTime = g.PunchTime
                AND v.Tran_MachineRawPunchId = g.Tran_MachineRawPunchId                
            left join (
                SELECT *
                FROM PhoneSMS
                WHERE SMSType = 'CheckIn'
                  AND cast(CreatedAt as date) = @date
            ) as p on s.GuardianPhone = p.MobileNumber
            WHERE s.Status = 1
                AND (@aClassId IS NULL OR s.AcademicClassId = @aClassId);
        END
        ELSE IF @attendanceType = 'absent'
        BEGIN
            SELECT
                CAST(s.ClassRoll AS VARCHAR) AS ClassRoll,
                CAST(s.UniqueId AS VARCHAR) AS CardNo,
                s.Name,
                aClass.Name AS Class_Designation,
                s.GuardianPhone,
                s.PhoneNo AS Phone,
                s.AcademicSectionId as SectionId,
                'Absent' AS PunchTime,
                cast(s.ClassRoll as nvarchar) AS SortingOrder,
                ISNULL(FORMAT(p.CreatedAt, 'hh:mm tt'), 'Not Sent') AS SMSSent,
                CAST(aClass.ClassSerial AS varchar) AS ClassSL
            FROM Student s
            LEFT JOIN AcademicClass aClass ON s.AcademicClassId = aClass.Id               
            left join (
                SELECT *
                FROM PhoneSMS
                WHERE SMSType = 'CheckIn'
                  AND cast(CreatedAt as date) = @date
            ) as p on s.GuardianPhone = p.MobileNumber
            WHERE s.Status = 1
                AND NOT EXISTS (
                    SELECT 1
                    FROM Tran_MachineRawPunch t
                    WHERE t.PunchDatetime >= @startDate AND t.PunchDatetime < @endDate
                        AND CONVERT(INT, t.CardNo) = CAST(s.UniqueId AS INT)
                )
                AND (@aSessionId IS NULL OR s.AcademicSessionId = @aSessionId)
                AND (@aClassId IS NULL OR s.AcademicClassId = @aClassId)
            ORDER BY aClass.ClassSerial;
        END
        ELSE
        BEGIN
            ;WITH StudentAttendance AS (
                SELECT
                    s.ClassRoll,
                    s.Name,
                    aClass.Name AS Class_Designation,
                    s.GuardianPhone,
                    s.PhoneNo AS Phone,
                    t.Punchtime,
                    s.UniqueId,
                    s.AcademicSectionId,
                    aClass.ClassSerial as ClassSL
                FROM Student s
                LEFT JOIN AcademicClass aClass ON s.AcademicClassId = aClass.Id
                LEFT JOIN (
                    SELECT
                        CONVERT(INT, tm.CardNo) AS CardNo,
                        MIN(tm.PunchDatetime) AS Punchtime
                    FROM Tran_MachineRawPunch tm
                    WHERE tm.PunchDatetime >= @startDate AND tm.PunchDatetime < @endDate
                    GROUP BY CONVERT(INT, tm.CardNo)
                ) t ON CAST(s.UniqueId AS INT) = t.CardNo
                WHERE s.Status = 1
                    AND (@aSessionId IS NULL OR s.AcademicSessionId = @aSessionId)
                    AND (@aClassId IS NULL OR s.AcademicClassId = @aClassId)
            )
            SELECT
                CAST(s.UniqueId AS VARCHAR) AS CardNo,
                Cast(s.ClassRoll as varchar) as ClassRoll,
                s.Name,
                s.Class_Designation,
                s.GuardianPhone,
                s.Phone,
                s.AcademicSectionId as SectionId,
                ISNULL(FORMAT(s.Punchtime, 'hh:mm tt'), 'Absent') AS PunchTime,
                cast(s.ClassRoll as nvarchar) AS SortingOrder,
                ISNULL(FORMAT(p.CreatedAt, 'hh:mm tt'), 'Not Sent') AS SMSSent,
                CAST(ClassSL AS varchar) AS ClassSL
            FROM StudentAttendance s
            left join (
                SELECT *
                FROM PhoneSMS
                WHERE SMSType = 'CheckIn'
                  AND cast(CreatedAt as date) = @date
            ) as p on s.GuardianPhone = p.MobileNumber
            ORDER BY s.ClassSL, s.ClassRoll;
        END
    END
END
