USE [SMSDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_amount_by_classFee_sl]    Script Date: 3/20/2024 9:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GH Palash
-- Create date: 10 Feb 2024
-- Description:	SP for get amount by SL
-- =============================================
ALTER PROCEDURE [dbo].[sp_get_amount_by_classFee_sl] 
    @uniqueId varchar(10),
    @sl int,
    @FeeAmount FLOAT OUTPUT
AS
BEGIN	
	SET @FeeAmount = 0;

    SELECT @FeeAmount = ISNULL(SUM(t.Amount), 0)
    FROM ClassFeeList t
    LEFT JOIN StudentFeeHead f ON t.StudentFeeHeadId = f.Id
    LEFT JOIN (SELECT s.AcademicClassId, s.IsResidential FROM student s WHERE s.UniqueId = @uniqueId) s ON t.AcademicClassId = s.AcademicClassId 
    WHERE t.AcademicSessionId = 4 
        AND t.AcademicClassId = s.AcademicClassId
        AND f.IsResidential = s.IsResidential
        AND t.SL = @sl;
END
